[root@yangj system]# cat etcd.service 
[Unit]
Description=Etcd Service
After=syslog.target network.target
 
[Service]
Type=notify
ExecStart=/home/gocode/src/go.etcd.io/etcd/bin/etcd  \
    --advertise-client-urls=https://127.0.0.1:2379 \
    --cert-file=/etc/kubernetes/pki/etcd/server.crt \
    --client-cert-auth=true \
    --data-dir=/var/lib/etcd \
    --initial-advertise-peer-urls=https://127.0.0.1:2380 \
    --initial-cluster=yangj.dev=https://127.0.0.1:2380 \
    --key-file=/etc/kubernetes/pki/etcd/server.key \
    --listen-client-urls=https://127.0.0.1:2379 \
    --listen-metrics-urls=http://127.0.0.1:2381 \
    --listen-peer-urls=https://127.0.0.1:2380 \
    --name=yangj.dev \
    --peer-cert-file=/etc/kubernetes/pki/etcd/peer.crt \
    --peer-client-cert-auth=true \
    --peer-key-file=/etc/kubernetes/pki/etcd/peer.key \
    --peer-trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt \
    --snapshot-count=10000 \
    --trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
ExecReload=/bin/kill -s HUP $MAINPID
Environment=
TimeoutSec=0
RestartSec=2
Restart=always
 
[Install]
WantedBy=multi-user.target
